@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav {
  width: 100%;
  height: 15vmin;
  background-color: rgb(100, 176, 238);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px white solid;

}

.nav img{
    margin-left: 5vmin;
    width: 30vmin;
}

.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.body{
    background-color: rgb(236, 236, 236);
    margin: 0%;
    padding: 0%;
}

.form-group{
    text-align: left;
}
