@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav {
  width: 100%;
  height: 15vmin;
  background-color: rgb(100, 176, 238);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px white solid;

}

.nav img{
    margin-left: 5vmin;
    width: 30vmin;
}

.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.body{
    background-color: rgb(236, 236, 236);
    margin: 0%;
    padding: 0%;
}

.container-sm{
    width: 70%;
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.container-sm h1{
    font-size: 7vmin;
    margin: 2vmin 0;
}

.container-sm h2{
    font-size: 5vmin;
    margin: 2vmin 0;
}

.container-sm input{
    width: 40%;
    height: 4vmin;
    margin: 2vmin 0;
}

.container-sm h4{
    font-size: 3vmin;
    margin: 1vmin 0;
}

.loginBtn{
    margin: 2vmin 0;
    width: 20%;
    background-color: white;
    border-color: transparent;
    font-size: 3vmin;
    font-weight: bold;
    
}

.loginBtn:hover{
    background-color: rgb(100, 176, 238);
    color: rgb(229, 255, 85);;
    
}
